@model HTMLToPDF_CEF_NET8.Models.Url

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    Html.BeginForm("ExportToPDF", "Home", FormMethod.Post);
    {
      
        <div>
            <input type="submit" value="Convert HTML to PDF"  />
        </div>
    }
    Html.EndForm();
}
